/* Page Section Styles */
html,
body {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("./images/tOhBZQr.jpeg");
  position: relative;
  color: saddlebrown;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  margin: 0 10px;
}

section .listType {
  display: inline-block;
  border: 1px solid saddlebrown;
  padding: 8px;
  background-color: rgb(14, 9, 3);
  border-radius: 15px;
}
button {
  background-color: #724848; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 18px;
}
/* Text Styles */
h1 {
  color: aquamarine;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(223, 211, 213);
  display: inline-block;
  border: 1px solid rgb(13, 13, 14);
  border-radius: 15px;
  padding: 5px;
}

h3 {
  font-size: 1.4em;
  margin: 2px;
}

/* Footer Styles */
footer {
  position: sticky;
  width: 100%;
  height: 20px;
  bottom: 0;
  padding: 20px 0;
  background-color: burlywood;
}

body::after {
  display: block;
  height: 150px;
}
#leftDiv {
  float:left;
  text-align: center;
}

#rightDiv {
  float: right;
}

li {
  color: aqua;
  margin: 4px;
  text-align: left;
  padding: 5px;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  text-align: left;
  padding: 10px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 12px 28px;
}

ol {
  text-align: left;
  padding: 10px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 12px 28px;
}
